.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  margin-top: 50px;

}

.imageStyle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.board {
  display: flex;
  flex-direction: column;
  border: 10px solid;
  border-color: #808080 white white #808080;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border: 1px solid;
}

.matchInfos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  background-color: #c6c6c6;
  border: 5px solid;
  border-color: #808080 #fff #fff #808080;
}

.restartButton {
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  background-image: url('~/src/assets/images/icons.png');
  border: 5px solid;
  border-color: #fff #808080 #808080 #fff;
}

.restartButton :hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.input {
  padding: 5px;
  border: 1px solid white;
  border-radius: 8px;
}

.button {
  padding: 5px, 20px;
  border: 1px solid white;
  border-radius: 8px;
}

.boardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c6c6c6;
  border: 20px solid #c6c6c6;
}

.boderStyle {
  border: 5px solid;
  border-color: #fff #808080 #808080 #fff;
}

.bombCounter {
  font-size: 30px;
  color: red;
}

.timeCount {
  font-size: 30px;
  color: red;
}

.resetButtonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeCountStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-right: 5px;
  background-color: black;
  border: 2px solid;
  border-color: #808080 #fff #fff #808080;
}

.bombCounterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-left: 5px;
  background-color: black;
  border: 2px solid;
  border-color: #808080 #fff #fff #808080;
}
